*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
REGOLE GENERALI
*/
body{
    background-color: var(--bg-albums);
    font-family: 'Roboto', sans-serif;
}



/*
PALETTE COLORI E STILE COMUNE
*/
:root{
    --bg-upgrade: rgba(0,0,0, 0.4);
    --bg-albums: #1c1f26;
    --bg-aside: #000;
    --bg-player: #2c2c2c;

    --txt-white: white;
    --txt-gray: gray;

    --green-border: #c8ff4b;
}

.txt-white{
    color: var(--txt-white);
}

.txt-gray{
    color: var(--txt-gray);
}

.bold{
    font-weight: bold;
}

.txt-align{
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
}

.uppercase{
    text-transform: uppercase;
}

.list{
    list-style-type: none;
    margin-top: 25px;
}

.z-index{
    z-index: 999;
}

.mar-top{
    margin-top: 40px;
}

.rounded{
    border-radius: 50%;
}

/*
OVERLAY
*/
.overlay-container{
    height: 100%;
    width: 100%;
    position: relative;
}
.overlay{
    background-color: rgba(0,0,0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    display: none;
}





/*
STILE SEZIONE ASIDE
*/
#sidebar{
    background-color: var(--bg-aside);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: calc(100vh - 100px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 10;
}

#logo .logo-small{
    width: 1.8rem;
    display: none;
}

#logo .logo{
    width: 180px;
}

.nav-playlist-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 20px 5px 20px;
}

nav li{
    margin: 5px 0;
    font-size: 0.8rem;
}


nav li .nav-icon{
    width: 1.8rem;
    margin-right: 10px;
}

nav li:first-child{
    border-left: 2px solid var(--green-border);
    margin-left: -20px;
    padding-left: 18px;
}

#playlist .add-playlist{
    margin-top: 10px;
}

#playlist .playlist-title{
    margin-top: 20px;
}

#playlist i{
    font-size: 2rem;
    margin-right: 10px;
}

#playlist{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#playlist ul.list{
    margin-top: 0;
    overflow: scroll;
}

#playlist ul li{
    margin-top: 15px;
}

#profile .install-app img{
    width: 1.2rem;
    margin-right: 5px;
}

#profile .install-app{
    margin-bottom: 5px;
}

#profile { 
    width: 200px;
    padding: 5px 15px;
}

#profile>div{
    padding: 5px 0;
}

#profile .profile-name{
    margin-top: 5px;
}

#profile .profile-name img{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 5px;
    background-color: var(--txt-gray);
    border-radius: 50%;
}








/*
STILE SEZIONE UPGRADE
*/
#upgrade{
    background-color: var(--bg-upgrade);
    height: 100px;
    width: calc(100vw - 250px);
    position: fixed;
    top: 0;
    left: 250px;
    justify-content: flex-end;
}

#upgrade .button{
    margin-right: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    padding: 15px 40px;
    cursor: pointer;
}


/*
STILE SEZIONE MAIN
*/
#main-section{
    margin-left: 250px;
}

#albums{
    overflow: auto;
    padding: 115px 50px 20px 50px;
    width: 100%;
    height: calc(100vh - 100px);
}

.albums-menu ul{
    margin-top: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.albums-menu ul li{
    margin: 5px 15px;
}

#albums .albums-menu li:first-child{
    border-bottom: 2px solid var(--green-border);
}




/*
STILE ALBUMS SECTION
*/
#main-section .albums-section h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

.albums-section ul{
    flex-wrap: wrap;
    margin-left: -10px;
    align-items: baseline;
}

.albums-section li img{
    width: 100%;
    height: 100%;
}

.albums-section ul li{
    width: calc(100% / 6 - 20px);
    height: 100%;
    margin: 10px 10px;
}

.albums-section h4{
    margin: 15px 0 5px 0;
}









/*
STILE SEZIONE PLAYER
*/
#player{
    height: 100px;
    width: 100%;
    background-color: var(--bg-player);
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    padding: 10px;
}

/*
STILE PLAYER SONG
*/
#player-track{
    justify-content: space-between;
    width: 250px;
}

.player-song img{
    width: 50px;
    border: 2px solid white
}

.player-song-txt{
    margin: 0 10px;
    font-size: 0.8rem;
}

.track-icon{
    margin-left: 6px;
}

.track-icon i{
    margin: 0 2px;
}


/*
STILE PLAYER CONTROL
*/
#player-control{
    width: 50%;
}

.player-icon{
    justify-content: center;
    margin-bottom: 10px;
}
.player-icon i{
    margin: 0 15px;
    font-size: 1.2rem;
}

.player-icon .play{
    font-size: 2rem;
}

.player-bar span{
    font-size: 0.8rem;
}

#player .bar{
    width: 500px;
    height: 5px;
    margin: 0 10px;
    border-radius: 20px;
    background-color: var(--txt-gray);
}

.player-bar{
    justify-content: center;
}

#player .bar-white{
    height: 100%;
    width: 30%;
    background-color: var(--txt-white);
    justify-content: flex-end;
}

#player .circle-player-bar{
    height: 15px;
    width: 15px;
    margin-right: -7px;
    border-radius: 50%;
    background: var(--txt-white);
    display: none;
}

/*
STILE PLAYER VOLUME
*/
#player-volume{
    justify-content: flex-end;
    width: 250px;
}

#player-volume .bar{
    width: 80px;
    height: 5px;
    background-color: var(--txt-gray);
}

#player-volume i{
    margin: 0 6px;
}



/*
STILE HOVER
*/

.albums-section .overlay-container:hover .overlay, 
.albums-section .overlay-container:hover .overlay-text,
#player .bar:hover .circle-player-bar{
    display: block;
}

.button:hover, #player-control .play:hover{
    transform: scale(1.1);
}

.albums-menu li:hover,
#sidebar li:hover,
nav li span:hover,
.add-playlist:hover .hover,
#profile span:hover,
#player-track i:hover{
    color: var(--txt-white);
}

.albums-menu li:hover,
#sidebar li:hover,
nav li span:hover,
.add-playlist:hover .hover,
#profile span:hover,
.overlay-text:hover,
.player-song div.txt-gray:hover,
#player-track i:hover,
#player-control .play:hover,
#player .bar:hover{
    cursor: pointer;
}

.player-song div.txt-gray:hover{
    text-decoration: underline;
}

#player .bar:hover .bar-white{
    background-color: var(--green-border);
}

/*
MEDIA QUERY
*/
@media screen and (max-width: 992px){
    .albums-section ul li{
        width: calc(100% / 4 - 20px);
    }
}

@media screen and (max-width: 768px){
    .albums-section ul li{
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 576px){
    #main-section{
        margin-left: 0;
    }
    .albums-section ul li{
        width: calc(100% / 2 - 20px);
    }

    #sidebar{
        width: 60px;
        height: calc(100% - 100px);
    }

    #sidebar #playlist,#sidebar .logo, #sidebar nav span, #profile span, #profile hr{
        display: none;
    }

    #upgrade{
        width: 100%;
        position: absolute;
        top: 0;
        left: 60px;
    }

    #albums{
        margin-left: 60px;
        width: 100%;
        height: 100vh;
    }

    #profile{
        background-color: transparent;
    }

    #logo .logo-small{
        display: block;
    }

    #player-volume{
        flex-wrap: wrap;
    }
}

