*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
REGOLE GENERALI
*/
body{
    background-color: var(--bg-albums);
}



/*
PALETTE COLORI
*/
:root{
    --bg-upgrade: rgba(0,0,0, 0.4);
    --bg-albums: #1c1f26;
    --bg-aside: #000;
    --bg-player: #2c2c2c;

    --txt-white: #fff;
}

.txt-white{
    color: var(--txt-white);
}

.bold{
    font-weight: bold;
}


/*
STILE SEZIONE ASIDE
*/
aside{
    background-color: var(--bg-aside);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: calc(100vh - 100px);
}

/*
STILE SEZIONE UPGRADE
*/
#upgrade{
    background-color: var(--bg-upgrade);
    height: 100px;
    width: calc(100vw - 250px);
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#upgrade .button{
    text-transform: uppercase;
    margin-right: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    padding: 15px 40px;
    cursor: pointer;
}


/*
STILE SEZIONE MAIN
*/
#albums{
    overflow: auto;
    margin-left: 250px;
    padding: 150px 50px 0 50px;
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
}








/*
STILE SEZIONE PLAYER*/
#player{
    height: 100px;
    width: 100%;
    background-color: var(--bg-player);
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 999;
}